---
title: "Categories"
layout: default
permalink: "/categories.html"
---

<section class="mt-4 mb-5">
    
    <div class="container mb-1">
        <h1 class="font-weight-bold title">Categories</h1>    
        <div class="row">
        {% include menu-categories.html %}
        </div>
    </div>


<div class="container-fluid">
    <div class="card-columns">
    {% for category in site.categories %}
    </div> 
    
    <h3 class="mt-4 display-4" id="{{ category[0] | downcase }}"><small class="text-muted">#</small> {{ category[0] }}</h3><hr>
    
    <div class="card-columns">

        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
          {% if post.title != null %}
              {% if group == null or group == post.group %}
                {% include card-post.html %}
              {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}

    {% endfor %}
    </div>
</div>
    
</section>