<div class="card card-pin  raco" {% unless post.image %} style="min-height:250px;background:#333;" {% endunless %}>
        
    {% unless post.image %}
    
       <a href="{{site.baseurl}}{{post.url}}"  class="d-block p-3">
        <h2 class="card-title title text-white mb-3">{{ post.title }}</h2>         
           <small class="d-block text-muted">{{ post.content | strip_html | truncatewords:25 }}</small>
        <div class="more mr-2 mb-2">                
            <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        </div> 
        </a>
        
    {% endunless %}
        
    {% if post.image %} 
    
    <div class="wrapcat">

        <span class="pinme">
            <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{site.url}}{{site.baseurl}}{{post.url}}&media={{site.url}}{{site.baseurl}}/{{post.image}}&description={{ post.title }} - {{ post.content | strip_html | truncatewords:25 }}"></a>
        </span>

         <span class="gotopost">
             <a href="{{site.baseurl}}{{post.url}}" class="text-dark"><i class="fa fa-arrow-circle-right"></i> More
             </a>
         </span> 

        <div class="showcat">
            {% for category in post.categories %}
              <a class="btn btn-sm btn-danger mb-1" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                {{ category }}
              </a>
            {% endfor %}
        </div>

    </div>
           
    
        <a href="{{site.baseurl}}{{post.url}}">
         
        <img class="card-img" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}">             
        
            <div class="notraco">
                <h2 class="card-title title">{{ post.title }}</h2>
                <div class="more">                
                    <i class="fa fa-arrow-circle-right text-muted" aria-hidden="true"></i>
                </div>  
            </div>
            
         </a>
    
    {% endif %}
        
   
</div>
