<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="#" class="text-dark"><i class="fa fa-facebook"></i></a></li>
<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>
<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>
<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>
<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="#" class="text-dark"><i class="fa fa-behance"></i></a></li>
<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="#" class="text-dark"><i class="fa fa-dribbble"></i></a></li>