<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>{{page.title}} | {{site.name}}</title>
    
    {% seo %}
    
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    {% include tracking-header.html %}
    
</head>
    
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/{{site.logo}}"></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">        
    	<ul class="navbar-nav mr-auto align-items-center">            
            {% include search-lunr.html %}    		
    	</ul>
    	<ul class="navbar-nav ml-auto align-items-center">
    		{% include menu-header.html %}
    	</ul>
    </div>
    </nav>
    
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>
    
    <main role="main">        
        {{ content }}        
    </main>
    
    <footer class="footer pt-5 pb-5 text-center">        
    <div class="container">        
          <div class="socials-media">    
            <ul class="list-unstyled">
              {% include footer-social.html %}
            </ul>    
          </div>
          {% include footer-copyright.html %}
        </div>
    </footer>
    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script src="{{site.baseurl}}/assets/js/theme.js"></script>
    
    <script src="{{site.baseurl}}/assets/js/lunr.js"></script>
    
    {% include tracking-footer.html %}
    
</body>
    
</html>
